#music-catagory-section{
    padding: 20px;
    
}

/*Artist details*/
#artist-name-containner{
    text-align: center;
}

#artist-name{
    padding: 30px 5px 60px 5px;
    font-weight: 700;
    font-size: 40px;
    color: #bfc8b0;
}
#artist-name>p{
    margin-bottom: 20px;
}
#artist-name>button{
    background-color: transparent;
    border-radius: 25px;
    border-style: solid;
    padding: 5px 20px;
    color: #868d86;
    border-color: #47655c;
    cursor: pointer;
}
#artist-name>button:hover{
    transform: scale(0.97);
    background-color: rgba( 16, 145, 156, 0.43 );
}

/*music items*/
.music-catagory-container{
    padding: 0px 15px ;
    background-color: rgba( 41, 50, 50, 0.3 );
    margin: 25px 0px;
}
.music-catagory-title{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #c3eddf;
    padding: 10px 0px 30px 0px;
}
.music-catagory-title>p{
    margin: 0px;
}
.music-catagory-container-inner{
    height: auto;
}
.music-catagory-list{
    height: auto;
}
.music-catagory-item{
    width: 150px;
    min-height: 220px;
    margin: 10px;
    display: inline-block;
}
.music-catagory-item-image{
   width: 150px;
    height: 150px;
    text-align: center;
  
     background-size: 100%;
    background-repeat: no-repeat;
}
.music-catagory-item-image>button{
    width: 100%;
    height: 100%;
    font-weight: 900;
    font-size: 50px;
    background-color: transparent;
/*    visibility: hidden;*/
    border-style: none;
}
.music-catagory-item-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.hide-visible-button{
    position: relative;
}
.hide-visible-button>a>i{
    position: relative;
    cursor: pointer;
	color: white;
}
.hide-visible-button>a{
    visibility: hidden;
}
.music-catagory-item-image:hover .hide-visible-button>a{
    visibility: visible;
    background-color: rgba( 86, 86, 86, 0.88 );
}
.div-catagory-item-name{
    text-align: center;
    line-height: 10px;
    
}
.div-catagory-item-name>p{
    color: #eff9f9;
}
.div-catagory-item-name>p>a{
    text-decoration: none;
}
.catagory-item-name-bolt{
    font-size: 1em;
    color: #eff9f9;
}
.catagory-item-artist-small{
    font-size: 14px;
    color: #929f9f;
}
.div-catagory-item-name>p>a:hover{
    text-decoration: underline;
}

/*Show more button*/
.music-catagory-more{
    text-align: center;
    padding: 25px;

}
.music-catagory-more>button{
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    color: #6cb196;
    font-size: 13px;
    text-transform: uppercase;
}
.music-catagory-more>button:hover{
    letter-spacing: 1px;
}

/*folr single songs*/
.music-catagory-list-single{
    padding: 20px 30px;
    
}












